.faucet-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: inherit;
    overflow-y: auto;
    margin: 100px auto;
    gap: 114px;

    .header-div {
        color: #24c3bc;
        text-align: center;
        font-family: Roboto;
        font-size: 50px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: 2.5px;
    }

    .faucet-div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        border-radius: 6px;
        border: 1px solid #24c3bc;
        background: rgba(36, 195, 188, 0.1);
        max-width: 820px;
        // max-height: 318px;
        padding: 120px 40px;
        // padding-left: 42px;
        // padding-top: 106px;
        // padding-bottom: 128px;
        @media screen and (max-width: 650px) {
            width: 100%;
        }
        .faucet-input-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 18px;
            padding-bottom: 18px;
            padding-right: 16px;
            padding-left: 37px;

            width: 100%;
            max-height: 84px;
            border-radius: 6px;
            border: 1px solid #24c3bc;
            background: rgba(217, 217, 217, 0.1);
            @media screen and (max-width: 820px) {
                flex-direction: column;
                max-height: 200px;
            }

            .faucet-input {
                display: flex;
                background-color: transparent;
                border: 2px solid rgba(217, 217, 217, 0.1);
                padding: 10px;
                border-radius: 6px;
                width: 411px;
                // height: 30px;
                flex-direction: column;
                justify-content: center;
                color: #fff;
                font-family: Roboto;
                font-size: 16px;
                font-style: normal;
                font-weight: 800;
                // line-height: 75px; /* 375% */
                letter-spacing: 1px;
                text-transform: capitalize;
                &:focus {
                    outline: none;
                }
                @media screen and (max-width: 820px) {
                    width: 100%;
                    margin-bottom: 8px;
                    margin-top: 8px;
                }
                // @media screen and (max-width: 650px) {
                //     font-size: 16px;
                //     width: 100%;
                // }
                // @media screen and (max-width: 500px) {
                //     font-size: 14px;
                //     width: 100%;
                // }
                // @media screen and (max-width: 430px) {
                //     font-size: 12px;
                //     width: 100%;
                // }
                // @media screen and (max-width: 376px) {
                //     font-size: 10px;
                //     width: 150px;
                // }
            }
            .faucet-button {
                margin-left: 8px;
                width: 160px;
                height: 48px;
                border-radius: 6px;
                border: 2px solid #24c3bc;
                background: #24c3bc;
                cursor: pointer;
                font-weight: 800;
                @media screen and (max-width: 820px) {
                    margin-left: 0;
                    margin-top: 8px;
                }
            }

            .select-chain {
                width: 160px;
                margin-left: 8px;
                border: 2px solid #24c3bc;
                background: #24c3bc;
                border-radius: 6px;
                height: 48px;
                font-size: 18px;
                font-weight: 800;
                text-align: center;
                padding: 0 8px;
                @media screen and (max-width: 820px) {
                    margin-left: 0;
                }
                // line-height: 75px;
            }
        }

        .message {
            .invalid {
                margin-top: 12px;
                text-align: center;
                color: #c22f60;
                font-size: 20px;
            }

            .success {
                color: #24c3bc;
                margin-top: 12px;
                text-align: center;
                font-size: 20px;
            }
        }
    }
}
