@tailwind base;
@tailwind components;
@tailwind utilities;

// @import url('https://fonts.googleapis.com/css2?family=Changa+One&family=Changa:wght@700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
::-webkit-scrollbar {
    width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #24c3bc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.wrapper-footer {
    max-width: 1600px;
    margin: auto;
    padding: 0 20px;
}

.overlay-footer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    z-index: -1;
}

.text-gradient {
    background: var(--primary-gradientcolor, linear-gradient(135deg, #24c3bc 0%, #adfffb 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button-hover-1:hover {
    transition: all 0.4s ease-in-out;
    box-shadow: 0px 0px 25px 0px #24c3bc;
}

.button-hover-2:hover {
    transition: all 0.4s ease-in-out;
    box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.5);
}

.button-hover-3:hover {
    transition: all 0.4s ease-in-out;
    border: 2px solid var(#24c3bc);
    background: rgba(36, 195, 188, 0.2);
}

.button-navbar-hover:hover {
    transition: background 0.5s ease-in-out;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    div {
        transition: color 0.3s ease-in-out;
        color: #24c3bc !important;
    }
}

.card-hover img {
    transition: all 0.8s ease-in-out;
}

.card-hover:hover img {
    transition: all 0.8s ease-in-out;
    -webkit-filter: drop-shadow(0px 0px 15px rgba(36, 195, 188, 1));
    filter: drop-shadow(0px 0px 15px rgba(36, 195, 188, 1));
}

.partner-card:hover {
    transition: all 0.6s ease-in-out;
    border: 1px solid #24c3bc;
    box-shadow: 0px 0px 25px 0px #24c3bc;
}

.social-button-hover:hover {
    transition: all 0.4s ease-in-out;
    background: #24c3bc !important;
    box-shadow: 0px 0px 25px 0px #24c3bc;
}

.linear-background {
    @media screen and (min-width: 1200px) {
        background: linear-gradient(90deg, #0b4c51 0%, #07051b 65.62%, #07051b 100%);
    }
}

.about-linear-background {
    @media screen and (min-width: 768px) {
        background: linear-gradient(0deg, #0b4c51 0%, #07051b 65.63%, #07051b 100%);
    }

    @media screen and (min-width: 1200px) {
        background: linear-gradient(90deg, #0b4c51 0%, #07051b 65.62%, #07051b 100%);
    }
}

// .navbar-transition {
//     transition: all 0.2s ease-in-out;
// }

// .navbar-transition.open {
//     ::-webkit-scrollbar {
//         width: 0px;
//     }
//     ::-webkit-scrollbar-thumb {
//         background: transparent !important;
//     }
//     height: 289.56px !important;

//     @media screen and (min-width: 768px) {
//         height: 316.56px !important;
//     }
// }

.ant-dropdown {
    top: 100px !important;
}

.ant-tooltip {
    z-index: 9999 !important;
    .ant-tooltip-inner {
        padding: 0px !important;
        border-radius: 20px !important;
    }
}

.ant-tooltip-placement-bottom {
    @media screen and (min-width: 1200px) {
        padding-top: 12px !important;
    }
    @media screen and (min-width: 768px) {
        padding-top: 5px !important;
    }
}

/* Icon 2 */

#nav-icon3 {
    width: 36px;
    height: 36px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

#nav-icon3 span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

/* Icon 3 */

#nav-icon3 span:nth-child(1) {
    top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
    top: 15px;
}

#nav-icon3 span:nth-child(4) {
    top: 30px;
}

#nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}
